.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFix:after{
    content: "";
    height: 0;
    line-height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: #999;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover{
    color: #666;
}
.wrap{
    padding: 0 50px;
}
header{
    width: 100%;
    height: 55px;
    background: #298abe;
    color: #fff;
    line-height: 55px;
}
header a{
    color: #fff;
}
header .logo a{
    font-size: 34px;
    display: block;
}
header .logo a:hover{
    color: #fff;
}
header .login{
    position: relative;
}
header .login input{
    height: 26px;
    width: 300px;
    border-radius: 13px;
    border: none;
    outline: none;
    text-indent: 30px;
    margin-right: 15px;
    position: relative;
}
header .login .inputBG {
    position: absolute;
    left: 10px;
    top: 20px;
    color: #999;
    font-size: 15px;
}
header .login a{
    font-size: 12px;
}
header .login a span{
    padding: 0 5px;
}

/*内容区域*/
.container{
    width: 1280px;
    margin: 0 auto;
    height: 1211px;
}
/*左侧导航区域*/
.nav{
    width: 260px;
    background: #2b2e3c;
    color: #6e7e96;
    height: 100%;
}
.nav a{
    color: #6e7e96;
}
/*左侧顶部用户信息区域*/
.nav .user-info{
    height: 130px;
    padding-left: 50px;
    padding-top: 20px;
}

.nav .user-info .user-head a{
    display: inline-block;
    padding: 3px;
    border: 3px solid #b9babe;
    border-radius: 50%;
    float: left;
}
.nav .user-info .user-head div{
    background: #b9babe;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
.nav .user-info .user-head .name{
    display: inline-block;
    color: #b9babe;
    float: left;
    font-size: 16px;
    padding: 17px;
}
/*收藏和粉丝区域*/
.nav .user-info>div:nth-child(2){
    border-right: 1px solid #6e7e96;
    margin: 20px 0;
    padding-right: 30px;
}

.nav .user-info>div:nth-child(3){
    margin: 20px 0;
    padding-left: 30px;
}
/*导航列表区域*/
.nav ul li{
    padding-left: 50px;
    height: 50px;
    line-height: 50px;
}
.nav ul li a{
    display: block;
}
.nav ul li a span{
    margin-right: 10px;
}
.nav ul li:hover{
    background: #373d4c;
}
.nav ul li:first-child{
    height: 200px;
    background: #373d4c;
}
.nav ul li:first-child ul{}
.nav ul li:first-child ul li{
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
}
.nav ul li:first-child ul li:nth-child(3){
    margin-top: 55px;
}
.nav .white{
    color: #bbb;
}
/*右侧显示区域*/
.content{
    width: 1020px;
    background: #eee;
    height: 100%;
}

.content .bread{
    padding-left: 20px;
    height: 32px;
    line-height: 32px;
}
.content .bread span{
    margin: 0 10px;
}
.content .wrap{
    padding: 20px 60px;
}
.content .wrap>div{
    background: #fff;
}
/*第一栏*/
.content .wrap .query{
    height: 60px;
    border: 1px solid #ccc;
    padding: 15px 0;
}
.content .wrap .query .item{
    float: left;
    height: 60px;
}
.content .wrap .query .item>div{
    height: 10px;
}

.content .wrap .query .item:first-child {
    width: 190px;
    text-align: center;
}
.content .wrap .query .item:first-child select{
    width: 70px;
}
.content .wrap .query .item:nth-child(2){
    width: 220px;
}

.content .wrap .query .item:nth-child(2) select{
    width: 120px;
}

.content .wrap .query .item:nth-child(3){
    width: 320px;
}
.content .wrap .query .item:nth-child(3) select{
    width: 70px;
}
.content .wrap .query .item:nth-child(3) select.people {
    width: 120px;
}
.content .wrap .query .item:nth-child(3) input{
    width: 120px;
    padding: 0;
    box-sizing: border-box;
}

.content .wrap .query .item select,
.content .wrap .query .item input
{
    border: 1px solid #ccc;
    outline: none;
    height: 25px;
    margin-left: 15px;
}

.content .wrap .query .item button{
    width: 50px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    background: #3d8bbe;
    border: none;
    border-radius: 3px;
    margin: 17px;
}
/*第二栏*/
.content .wrap .time{
    margin-top: 20px;
    background: #eee;
}
.content .wrap .time div{
    float: left;
    width: 105px;
    height: 65px;
    margin-right: 8px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    padding-top: 15px;
    color: #666;
}
.content .wrap .time div p {
    color: #938e8c;
    font-size: 16px;
    margin-top: 5px;
}
.content .wrap .time div p span{
    color: #e65153;
    font-size: 22px;
}
.content .wrap .time div:nth-child(2){
    border-top: 3px solid #3d8dbf;
}
.content .wrap .time div:last-child {
    margin-right: 0;
    line-height: 65px;
    font-size: 14px;
    padding-top: 0;
}
.content .wrap .time div.left,
.content .wrap .time div.right{
    width: 50px;
    line-height: 65px;
    font-size: 24px;
    padding-top: 0;
}
/*统计栏*/
.content .wrap .count{
    margin-top: 20px;
    background: #eee;
}
.content .wrap .count h4{
    font-size: 14px;
    line-height: 2;
    color: #666;
}
.content .wrap .count>div{
    float: left;
    width: 200px;
    height: 70px;
    border: 1px solid #ccc;
    margin-right: 33px;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    padding: 15px;
}
.content .wrap .count div p{
    line-height: 1.6;
    color: #666;
}
.content .wrap .count div p span{
    font-size: 8px;
    color: #938e8c;
}
.content .wrap .count div:last-child{
    margin-right: 0;
}

.content .wrap .count div>.small-box {
    width: 60px;
    height: 40px;
    background: #49b19f;
}
.content .wrap .count>div{
    border-left: 3px solid #49b19f;
}
.content .wrap .count>div:nth-child(2){
    border-left: 3px solid #3d8dbf;
}
.content .wrap .count>div:nth-child(3){
    border-left: 3px solid #cc4b3b;
}
.content .wrap .count>div:nth-child(4){
    border-left: 3px solid #e0cc52;
}
.content .wrap .count>div:nth-child(2) .small-box{
    background: #3d8dbf;
}
.content .wrap .count>div:nth-child(3) .small-box{
    background: #cc4b3b;
}
.content .wrap .count>div:nth-child(4) .small-box{
    background: #e0cc52;
}

/*大方块*/
.content .wrap .box{
    float: left;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 348px;
    width: 528px;
    margin: 20px 20px 0 0;

}
.content .wrap .box h3{
    height: 39px;
    background: #f4f5f7;
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
    line-height: 39px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content .wrap .second-item,
.content .wrap .calendar{
    width: 348px;
    border: 1px solid #ccc;
}
/*第二个盒子*/
.content .wrap .second-item{
    margin-right: 0;
}
.content .wrap .second-item h4{
    line-height: 2;
    margin-top: 10px;
}
.content .wrap .second-item .title{
    border-bottom: 1px solid #ccc;
    margin: 0 30px;
}
.content .wrap .second-item .title p{
    color: #333;
    line-height: 2;
}
.content .wrap .second-item .price{
    margin-left: 30px;;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.content .wrap .second-item .price p{
    float: left;
    width: 25%;
    line-height: 1.6;
    padding-left: 10px;
}
.content .wrap .second-item .price p span{
    color: #333;
    font-weight: bold;
}
.content .wrap .second-item .price p:first-child{
    border-right: 1px solid #ccc;
}
.content .wrap .second-item .describe{
    margin:0 30px;
    border-bottom: 1px solid #ccc;
    height: 150px;
}
.content .wrap .second-item .describe p{
    color: #333;
}
.content .wrap .second-item .confirm{
    margin: 5px 30px;
}
.content .wrap .second-item .confirm button{
    width: 50px;
    height: 25px;
    color: #fff;
    background: #3d8dbf;
    border: none;
    border-radius: 3px;
}
/*日历*/
.content .wrap .calendar{}
.content .wrap .calendar .wrap{
    margin:10px 20px;
    padding: 0;
}
.content .wrap .calendar .wrap .date{
    margin-bottom: 10px;
}
.content .wrap .calendar .wrap .date select{
    width: 24%;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.content .wrap .calendar .wrap .week{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #3d8dbf;
}
.content .wrap .calendar .wrap .week ul{
    overflow: hidden;
    padding: 10px 0;
}
.content .wrap .calendar .wrap .week ul li{
    float: left;
    width: 14%;
    text-align: center;
    color: #333;
    font-size: 14px;
}
.content .wrap .calendar .wrap .calendar-detail{}
.content .wrap .calendar .wrap .calendar-detail ul{
    overflow: hidden;
}
.content .wrap .calendar .wrap .calendar-detail ul li{
    text-align: center;
    float: left;
    width: 14%;
    padding: 10px 0;


}
/*表格*/
.content .wrap .table{
    margin-right: 0;
    overflow: auto;
    color: #666;
}
.content .wrap .table .wrap{
    padding: 20px 40px;

}
.content .wrap .table  table{
    border: 1px solid #ccc;
    width: 100%;
}
.content .wrap .table table th{
    font-size: 14px;
    border: 1px solid #ccc;
}
.content .wrap .table table tr{
    height: 24px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.content .wrap .table table tr:hover{
    background: #ccc;
}
.content .wrap .table table td{
    border: 1px solid #ccc;
    width: 40px;
}
.content .wrap .table table tbody tr td:last-child{
    text-align: left;
    padding-left: 20px;
}
.content .wrap .table table tbody tr td:last-child .progress{
    display: inline-block;
    height: 5px;
    width: 200px;
    border: 1px solid #999;
    border-radius: 3px;
    margin-left: 20px;
}
.content .wrap .table table tbody tr td:last-child .progress .bg{
    width: 70%;
    display: block;
    height: 5px;
    background: #e65153;
}